<!DOCTYPE html>
<html>
<head>
    <title>Search</title>
</head>
<body>
<h1>Search Scores</h1>
<form method='post'>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search">
</form>
</body>
</html>
