<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
</head>
<body>
<h1>Results</h1>
<form method='post'>
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Search">
</form>

{% if results %}
<h2>Top {{ results | length }} results</h2>
<table>
    <tr>
        <th>Person</th><th>Score</th>
    <tr>
    {% for person in results%}
    <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.distance }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Your search returned no results</p>
{% endif %}
</body>
</html>
